<!DOCTYPE html>
<html lang="en">
<head>
   
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="/assets/matkaklubi.css">
</head>
<body>
   <h1>Uudised</h1>   
   <div>
       <% uudised.forEach( (uudis) => { %>
       <div class="uudis">
        <h3><%= uudis.nimetus %></h3>
        <p><%=uudis.kirjeldus %></p>
        <img src="<%=uudis.pildiUrl%>"></img>
        </div>
       <%  } ) %>
    </div>
</body>
</html>